.footer-social {
  text-align: center;
  padding: 80px;
  background-color: #2c2b2b;
  opacity: 0.6;
}

.links-social {
  display: block;
  font-size: 50px;
  opacity: 0.8;
  text-align:center;
}

.footer-social p {
  color:black;
  font-weight: bold;
}

.links-social a {
  color:red;
}
